@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor--background: #0f0f0f;
    --cor-texto: #FFFFFF;
    --cor-destaque: #FFA100;
    --cor-sobre-mim: #EFECEC;
    --cor-borda-link: #490871;
    --cor-hover: #272727;

    --fonte-primaria: 'Roboto', sans-serif;
    --fonte-secundaria: 'Mavin Pro', sans-serif;
}

body {
    box-sizing: border-box;
    height: 100%;
    background-color: var(--cor--background);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-texto);
    font-family: 'Mavin Pro', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-destaque);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 596px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.apresentacao__conteudo__titulo {
    color: var(--cor-sobre-mim);
    font-family: var(--fonte-primaria);
    font-weight: 400px;
    font-size: 36px;
}

.apresentacao__conteudo__destaque {
    color: var(--cor-destaque);
}

.apresentacao__conteudo__sobre-min {
    color: var(--cor-sobre-mim);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Maven Pro', sans-serif;
    color: var(--cor-texto);
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-borda-link);
    width: 378px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.rodape {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    background-color: var(--cor-destaque);
    padding: 24px;
}