@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    height: 100%;
    background-color: black;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: #FFFFFF;
    font-family: 'Mavin Pro', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #FFA100;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 596px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.apresentacao__conteudo__titulo {
    color: #EFECEC;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 36px;
}

.apresentacao__conteudo__destaque {
    color: #FFA100;
}

.apresentacao__conteudo__sobre-min {
    color: #EFECEC;
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Maven Pro', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #490871;
    width: 378px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Maven Pro', serif;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.rodape {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    background-color: #FFA100;
    padding: 24px;
}